@model IEnumerable<APTEventAssignment.Models.EventVenueZone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventVenueZone_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventVenueZone_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Event_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueZone.VenueZone_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventVenueZone_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventVenueZone_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueZone.VenueZone_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventVenueZone_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventVenueZone_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventVenueZone_ID })
        </td>
    </tr>
}

</table>
