@*@model IEnumerable<APTEventAssignment.Models.Venue>*@
@model IEnumerable<APTEventAssignment.ViewModels.VenueViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">

        <h2>Venues</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Venue_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venue_Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venue_Address)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Venue_Deleted)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.VenueType_Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue_Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue_Address)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Venue_Deleted)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.VenueType_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Venue_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Venue_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Venue_ID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
