@model APTEventAssignment.ViewModels.VenueZoneViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Venue Zone</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_VenueName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_VenueName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Rows)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Rows)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Columns)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Columns)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.VenueZone_Deleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Deleted)
            </dd>*@

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-warning" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</div>
