@model APTEventAssignment.ViewModels.VenueZoneViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Venue Zone</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_VenueName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_VenueName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Rows)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Rows)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VenueZone_Columns)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VenueZone_Columns)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.VenueZone_Deleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VenueZone_Deleted)
                </dd>*@

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.VenueZone_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>