@model IEnumerable<APTEventAssignment.Models.EventBookingSeat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventBookingSeat_SeatIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventBookingSeat_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventBooking.EventBooking_UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventBookingSeat_SeatIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventBookingSeat_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventBooking.EventBooking_UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventBookingSeat_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventBookingSeat_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventBookingSeat_ID })
        </td>
    </tr>
}

</table>
