@model APTEventAssignment.ViewModels.EventBookingSeatsViewModel

@{
    ViewBag.Title = "Seating";
    Layout = "~/Views/Shared/_SeatingPageLayout.cshtml";

    System.Collections.ArrayList seats = new System.Collections.ArrayList();
}


<div class="container">
    <h2>Seating</h2>

    @using (Html.BeginForm("SeatingPage", "EventBookingSeats", FormMethod.Post, new { role = "form" })) //redirects back to the controller to handle post request
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <br>
            @Html.HiddenFor(x => x.Event_Name)
            @Html.HiddenFor(x => x.Event_VenueName)
            <p><b>Choose date:</b>  @Html.DropDownListFor(model => model.SelectPerformanceId, Model.Performances, new { onchange = @"var form = document.forms[0]; form.action = 'SeatingPage'; form.submit();" })</p>
            <hr>

            <div class="form-group">
                <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Enter mobile number <i>(Optional)</i> : </label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                </div>
                </div>
           </div>

           <hr>
        </div>

        @*@foreach (var item in (List<VenueZone>) ViewData["venueZones"])
        {
            @item.VenueZone_Rows;
        }*@

        //--------------- SEATING PLAN -------------------        
        
        
        string strSeatingPlan = "";
        string strSelectedSeating = "";
        long intZoneCount = -1;
        string[,] arrSeating = new string[1, 6];

        int intColumnCount = 0;
        int intZoneWidth = 0;
        int intZonePaddingWidth = 5;
        int intSeatSize = 25;
        long maxPixels = 0;

        //Set the Seating Plan Array Size
        intZoneCount = ViewBag.Zones;

        List<string> lstBooked = new List<string>();
        if (ViewBag.Booked.GetType().IsArray)
        {
            lstBooked.AddRange(ViewBag.Booked);
        }


        if (ViewBag.Layout.GetType().IsArray)
        {
            //Calculate Seating Width
            for (int j = 0; j <= ViewBag.Layout.GetUpperBound(0); j++)
            {
                intColumnCount = intColumnCount + Convert.ToInt32(ViewBag.Layout[j, 3]);
            }

            strSeatingPlan = "<table id='tblZones' width='100%'>";
            strSeatingPlan = strSeatingPlan + "<tr>";
            for (int i = 0; i <= ViewBag.Layout.GetUpperBound(0); i++)
            {
                //intZoneWidth = (int)Math.Floor(((Convert.ToInt32(ViewBag.Layout[i, 3]) / intColumnCount)) * 100);
                intZoneWidth = (int)((Convert.ToInt32(ViewBag.Layout[i, 3]) / intColumnCount) * 100);

                strSeatingPlan = strSeatingPlan + "<td style='width:" + intZoneWidth + "%;' class='zoneBorder'>";
                strSeatingPlan = strSeatingPlan + "<table id='tblZone_" + ViewBag.Layout[i, 1] + "' style='width:100%; vertical-align:top;'>";
                //Zone Title
                strSeatingPlan = strSeatingPlan + "<tr>";
                strSeatingPlan = strSeatingPlan + "<td style='width:" + intZoneWidth + "%; height:26px;' class='seatingZoneTitle' colspan='" + ((Convert.ToInt32(ViewBag.Layout[i, 3]) * 2) - 1) + "'>";
                strSeatingPlan = strSeatingPlan + ViewBag.Layout[i, 1];
                strSeatingPlan = strSeatingPlan + "</td>";
                strSeatingPlan = strSeatingPlan + "</tr>";

                for (int Rows = 0; Rows <= Convert.ToInt32(ViewBag.Layout[i, 2]) - 1; Rows++)
                {
                    System.Web.UI.WebControls.TableRow trZoneRow = new System.Web.UI.WebControls.TableRow();
                    strSeatingPlan = strSeatingPlan + "<tr>";
                    trZoneRow.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);

                    for (int cols = 0; cols <= Convert.ToInt32(ViewBag.Layout[i, 3]) - 1; cols++)
                    {

                        //Seating Code & Number
                        string thisSeat = "000" + (Rows * Convert.ToInt32(ViewBag.Layout[i, 3]) + cols).ToString();
                        thisSeat = ViewBag.Layout[i, 0] + thisSeat.Substring(thisSeat.Length - 3, 3);


                        //Check if this Seat is Already Booked
                        string seatStyle = "seatingAvailableBg";
                        if (lstBooked.Contains(thisSeat))
                        {
                            seatStyle = "seatingBookedBg";
                            strSeatingPlan = strSeatingPlan + "<td class='seatingContainer'><div id='" + thisSeat + "' class='seating " + seatStyle + "' enabled='false'>";
                        }
                        else
                        {
                            strSeatingPlan = strSeatingPlan + "<td class='seatingContainer'><div id='" + thisSeat + "' class='seating " + seatStyle + "' enabled='true' onClick=\"addSelectedSeat('" + thisSeat + "')\">";
                            //seats.Add(thisSeat);
                        }
                        
                        strSeatingPlan = strSeatingPlan + thisSeat;

                        strSeatingPlan = strSeatingPlan + "</div></td>";


                    }
                    strSeatingPlan = strSeatingPlan + "</tr>";

                }

                strSeatingPlan = strSeatingPlan + "</table>";
                strSeatingPlan = strSeatingPlan + "</td>";
                //Add Zone Spacing
                if (i < ViewBag.Layout.GetUpperBound(0))
                {
                    strSeatingPlan = strSeatingPlan + "<td style='width:50px'>&nbsp;</td>";
                }
            }
            strSeatingPlan = strSeatingPlan + "</tr>";
            strSeatingPlan = strSeatingPlan + "</table>";

        }

        strSelectedSeating = strSelectedSeating + "<table id='tblSelectedSeating' style='width:100%;height:100%'>";
        strSelectedSeating = strSelectedSeating + "<tr>";
        strSelectedSeating = strSelectedSeating + "<td style='height:100%; vertical-align:top;' class='zoneBorder'>";

        strSelectedSeating = strSelectedSeating + "<table style='width:100%; height:100%;'>";
        strSelectedSeating = strSelectedSeating + "<tr>";
        strSelectedSeating = strSelectedSeating + "<td style='height:25px;' class='seatingZoneTitle'>";
        strSelectedSeating = strSelectedSeating + "SELECTED SEATS";
        strSelectedSeating = strSelectedSeating + "</td>";
        strSelectedSeating = strSelectedSeating + "</tr>";

        strSelectedSeating = strSelectedSeating + "<tr>";
        strSelectedSeating = strSelectedSeating + "<td style='height:100%;'>";
        strSelectedSeating = strSelectedSeating + "<select size='10' style='height:200px; width:100%;' name='lstSelectedSeats' id='lstSelectedSeats'>";
        strSelectedSeating = strSelectedSeating + "</select>";
        strSelectedSeating = strSelectedSeating + "</td>";
        strSelectedSeating = strSelectedSeating + "</tr>";
        strSelectedSeating = strSelectedSeating + "<tr>";
        strSelectedSeating = strSelectedSeating + "<td style='height:100%;'>";
        
        //Buttons
        strSelectedSeating = strSelectedSeating + "<table style='width:100%; height:100%;; border-collapse:collapse;'>";
        strSelectedSeating = strSelectedSeating + "<td style='width:50%; text-align:left;'>";
        strSelectedSeating = strSelectedSeating + "<input type='button' class='buttonSize150' onClick='removeAllSelected()' value='Remove All'>";
        strSelectedSeating = strSelectedSeating + "</td>";
        strSelectedSeating = strSelectedSeating + "<td style='width:50%; text-align:right;'>";
        strSelectedSeating = strSelectedSeating + "<input type='button' class='buttonSize150' onClick='removeSelected()' value='Remove Selected'>";
        strSelectedSeating = strSelectedSeating + "</td>";
        strSelectedSeating = strSelectedSeating + "</tr>";
        strSelectedSeating = strSelectedSeating + "</table>";

        strSelectedSeating = strSelectedSeating + "</td>";
        strSelectedSeating = strSelectedSeating + "</tr>";
        strSelectedSeating = strSelectedSeating + "</table>";
        strSelectedSeating = strSelectedSeating + "</td>";
        strSelectedSeating = strSelectedSeating + "</tr>";
        strSelectedSeating = strSelectedSeating + "</table>";

        //Main View
        string strView = "";
        strView = strView + "<table id='tblView' width='100%'>";
        strView = strView + "<tr>";
        strView = strView + "<td style='width:75%; vertical-align:top;'>[$SeatingPlan$]</td>";
        strView = strView + "<td style='width:25%; vertical-align:top;'>[$SelectedSeating$]</td>";
        strView = strView + "</tr>";
        strView = strView + "</table>";

        strView = strView.Replace("[$SeatingPlan$]", strSeatingPlan);
        strView = strView.Replace("[$SelectedSeating$]", strSelectedSeating);

        @Html.Raw(strView)

    //var lstSelectedSeats = document.getElementById("lstSelectedSeats");
    //for (var i = lstSelectedSeats.length - 1; i >= 0; i--) {
    //    if (i >= 0) {
    //        var thisSeatCode = lstSelectedSeats.options[i].value;
    //        seats[i] = document.getElementById(thisSeatCode);
    //    }
    //}

        
        @Html.HiddenFor(model => model.SeatIdentifiers, seats)

    <div class="row row-space"></div>
        
    <center>
       
        <div class="form-group">          
            <input type='submit' class="btn btn-primary" value='Book Tickets' />   
        </div>
    </center>
 
    }
</div>