@*@model APTEventAssignment.Models.EventPerformance*@
@model APTEventAssignment.ViewModels.EventPerformancesViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Event Performance</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventPerformance_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventPerformance_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventPerformance_Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventPerformance_Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventPerformance_EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventPerformance_EventName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-warning" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</div>
