@model APTEventAssignment.ViewModels.EventPerformancesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Event Performance</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventPerformance_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventPerformance_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventPerformance_Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventPerformance_Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventPerformance_EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventPerformance_EventName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventPerformance_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

