@model IEnumerable<APTEventAssignment.ViewModels.EventPerformancesViewModel>

@{
    ViewBag.Title = "Dates";
}

<div class="container">
    <h2>Dates</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventPerformance_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventPerformance_Time)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EventPerformance_Deleted)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.EventPerformance_EventID) @*//Event.Event_Name
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventPerformance_Date)
                </td>
                <td>
                    @*@{string parameterValue = item.EventPerformance_Time.Value.ToString("0:HH:mm");}*@
                    @Html.DisplayFor(modelItem => item.EventPerformance_Time)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EventPerformance_Deleted)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.EventPerformance_EventID)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventPerformance_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventPerformance_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventPerformance_ID })
                </td>
            </tr>
        }

    </table>

</div>