@*@model APTEventAssignment.Models.Event*@
@model APTEventAssignment.ViewModels.EventsViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Event_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_Rating)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Event_Deleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Event_Deleted)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_VenueName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_VenueName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_CategoryName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>

