@model APTEventAssignment.ViewModels.EventsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Event_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_VenueName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_VenueName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_CategoryName)
            </dd>

        </dl>
    </div>

        @foreach (var item in Model.Event_Performances)
        {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Date:")
                </dt>
                <dd>
                    @item.EventPerformance_Date.ToShortDateString()
                </dd>
                <dt>
                    @Html.DisplayName("Time:")
                </dt>
                <dd>
                    @item.EventPerformance_Time
                </dd>

            </dl>

        }

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Event_ID}, null) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>