@model APTEventAssignment.ViewModels.EventsDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <center>
                <h2>@Html.DisplayFor(model => model.Event_Name)</h2>
                <h4>@Html.DisplayFor(model => model.Event_VenueName)</h4>

                <p></p>

                @{
                    var base64 = Convert.ToBase64String(Model.Event_Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img src="@imgSrc" class="img-responsive" alt="">

                <p><strong>Rating:</strong> @Html.DisplayFor(model => model.Event_Rating)</p>
                <p><strong>Category:</strong> @Html.DisplayFor(model => model.Event_CategoryName)</p>
                <p><strong>Price:</strong> € @Html.DisplayFor(model => model.Event_Price)</p>

                @*<ul style="list-style-type:none">*@
                    @foreach (var item in Model.Event_Performances)
                    {
                        @*<li><strong>Date:</strong> @item.EventPerformance_Date.ToShortDateString()</li>*@
                        <strong>Date:</strong> @item.EventPerformance_Date.ToShortDateString() <br>
                    }
                    @*</ul>*@

               

                    <div class="row-space"></div>

                    @*<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>*@
                    <input type='button' class="btn btn-primary" value='Book Tickets' onclick='window.location = "@Url.Action("SeatingPage", "EventBookingSeats")";' />
</center>
        </div>
    </div>
</div>



