@*@model IEnumerable<APTEventAssignment.Models.Event>*@
@model IEnumerable<APTEventAssignment.ViewModels.EventsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Events</h2>

    <p>
        @Html.ActionLink("Create New Event", "Create")
        <br />
        @Html.ActionLink("Create New Performance Times", "Create", "EventPerformances", null, null)
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Event Name: @Html.TextBox("SearchEvent") 
            <input type="submit" value="Filter" />
        </p>
    }

    <table class="table table-hover">
        <tr class="h3 warning">
            <th>
                @Html.DisplayNameFor(model => model.Event_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Rating)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Event_Deleted)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Event_Image)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Venue.Venue_Name)*@
                @Html.DisplayNameFor(model => model.Event_VenueName)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category.Category_Name)*@
                @Html.DisplayNameFor(model => model.Event_CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_Rating)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Event_Deleted)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Event_Image)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Event_VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_CategoryName)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Event_ID, idEP = item.EventPerformance_ID }, null) |*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID}, null) |
                    @Html.ActionLink("Details", "Details", new { id = item.Event_ID }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Event_ID}, null)
                </td>
            </tr>
        }

    </table>

</div>

