@*@model IEnumerable<APTEventAssignment.Models.Event>*@
@model IEnumerable<APTEventAssignment.ViewModels.EventsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
        @using (Html.BeginForm())
        {
        <p>
            Title: @Html.TextBox("SearchEvent") <br />
            <input type="submit" value="Filter" />
        </p>
        }
        
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Rating)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Event_Deleted)
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Event_Image)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Venue.Venue_Name)*@
                @Html.DisplayNameFor(model => model.Event_VenueName)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category.Category_Name)*@
                @Html.DisplayNameFor(model => model.Event_CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_Rating)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Event_Deleted)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Event_Image)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Event_VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Event_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Event_ID })
                </td>
            </tr>
        }

    </table>

</div>
