@model APTEventAssignment.Models.AspNetUsers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div>
        <h4>User Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayName("Date of Birth")
            </dt>

            <dd>
                @String.Format("{0:dd MMMM yyyy}", Model.DOB)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>