@model IEnumerable<APTEventAssignment.Models.Event>

<div class="row">

    @{var i=1;}

    @foreach (var item in Model)
    {
       
        if (item.Event_Image != null)
        {
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href='@Url.Action("EventsDetailsPage", "Events", new { id = item.Event_ID })' class=" portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>

                    @{
                    var base64 = Convert.ToBase64String(item.Event_Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }

                    <img src="@imgSrc" class="img-responsive" alt="">

                </a>

                <div class="portfolio-caption">
                    <h4>@Html.DisplayFor(modelItem => item.Event_Name)</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        
            
        }
    }

</div>



    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Event_Image)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_Name)
                </td>

                <td>

                    @if (item.Event_Image != null)
                    {

                        var base64 = Convert.ToBase64String(item.Event_Image);

                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                        <img src="@imgSrc" class="img-responsive" height="50" width="50" />
                    }

                </td>


            </tr>
        }

    </table>*@
