@model IEnumerable<APTEventAssignment.Models.Event>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">Purchase tickets to any upcoming events in Malta.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Security</h4>
                <p class="text-muted">Secure method of payment is guaranteed when purchasing tickets.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-ticket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Ticket Delivery</h4>
                <p class="text-muted">Tickets are delivered via e-mail together with an SMS to confirm purchase.</p>
            </div>
        </div>
    </div>
</section>
<!-- Events Grid Section -->

@*@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue.Venue_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Event_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Event_ID })
        </td>
    </tr>
}*@

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        
        @Html.Partial("_AllEvents")

    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Group APT</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/img/about/1.jpg")" alt="">                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Research and Planning</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/img/about/2.jpg")" alt="">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Design</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/img/about/3.jpg")" alt="">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Development</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/img/about/4.jpg")" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Final Product</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="@Url.Content("~/img/team/t2.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Sheryl Camilleri</h4>
                    <p class="text-muted">BSc. IT (Hons) in Software Development</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="@Url.Content("~/img/team/t1.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Ian Seychell</h4>
                    <p class="text-muted">BSc. ICT (Hons) Computing and Business</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="@Url.Content("~/img/team/t3.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Clara Valentina Galea</h4>
                    <p class="text-muted">BSc. ICT (Hons) Computing and Business</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>
<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="@Url.Content("~/img/logos/envato.jpg")" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="@Url.Content("~/img/logos/designmodo.jpg")" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="@Url.Content("~/img/logos/themeforest.jpg")" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="@Url.Content("~/img/logos/creative-market.jpg")" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        
        @*@Html.Partial("_Contact", new EmailFormModel())*@
        @Html.Action("_Contact", "Home")
       
    </div>
</section>


