@model APTEventAssignment.ViewModels.EventBookingViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>EventBooking</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventBooking_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventBooking_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerformanceDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerformanceDate)
            </dd>

            <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventBooking_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
