@model IEnumerable<APTEventAssignment.ViewModels.EventBookingViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Event Bookings</h2>
    <table class="table table-hover">
        <tr class="h3 warning">
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventBooking_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.UserName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EventBooking_Date)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EventName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PerformanceDate)
                </th>

                <td>
                        @Html.ActionLink("Details", "Details", new { id=item.EventBooking_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.EventBooking_ID })
                </td>
            </tr>
        }

    </table>

</div>
