@model IEnumerable<APTEventAssignment.Models.EventBooking>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Ticket Details</h2>
    <h5>Please confirm the following details for booking</h5>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.EventBooking_Date)*@
            @Html.DisplayName("Time of Booking")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EventPerformance.EventPerformance_ID)*@
            @Html.DisplayName("Event Booking Seat")
        </th>
        <th>
            @Html.DisplayName("Event Name")
        </th>
        <th>
            @Html.DisplayName("Venue Name")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EventBooking_UserID)*@
            @Html.DisplayName("Date")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventPerformance.EventPerformance_Time)  @*getting the time of the performance*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventBookingSeat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventPerformance.Event.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventPerformance.Event.Venue.Venue_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventPerformance.EventPerformance_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventBooking_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventBooking_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventBooking_ID })
        </td>
    </tr>
}

</table>
</div>
<div class="form-group">
    <div class="col-md-offset-5 col-md-12">
        <h4>@Html.ActionLink("Confirm Details", "Create")</h4>
    </div>
</div>
